th {
    background-color: gray;
    text-align: left;
}

td {
    text-align: left;
}

body {
    text-align: center;
}


#songList {
    display:inline-block;
    width: 600px;
    height: 500px;
}

#songInfo {
    display:inline-block;
    text-align: center;
}